.sudoku-pad text {
    text-anchor: middle;
    dominant-baseline: central;
}

.sudoku-pad .pencil-marks text {
    fill: grey;
}

.sudoku-pad .grid-values text {
    font-size: 3rem;
}

.sudoku-pad .grid-values .user-input {
    fill: #2196f3;
}